{{- define "main" -}}
{{- partial "homepage-body.html" . -}}

{{- range first 1 site.RegularPages -}}
<div class="article-container">

    
    {{- partial "article-header.html" . -}}
    <article class="article markdown-body" >
        {{- with .Params.cover -}}<p><img class="cover" src="{{- . | safeURL -}}" alt></p>{{- end -}}
        {{- .Content -}}
    </article>
    
    {{- partial "article-labels.html" . -}}
    {{- partial "article-share.html" . -}}
    {{- partial "article-license.html" . -}}
    {{- partial "article-author.html" . -}}
    {{- partial "article-extra.html" . -}}
</div>


{{- end -}}


{{- $paginator := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) -}}
{{- partial "note-list.html" $paginator -}}
{{- partial "pagination.html" $paginator -}}
{{- end -}}